.content__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content__item {
  position: relative;
  margin: 0 30px 30px 0;
  background-color: $blue;

  // @media (min-width: $tablet-width) {
  //   &:nth-child(3n + 3) {
  //     margin: 0 0 30px 0;
  //   }
  // }

  @media (min-width: $desktop-width) {
    &:nth-child(4n + 4) {
      margin: 0 0 30px 0;
    }

    &:last-child {
      margin: 0 0 30px 0;
    }
  }
}

.content__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: $light-white;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: $grey;
  }

  &::before {
    content: ' ';
    position: absolute;
    top: 11px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-image: url(../../img/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

