html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: $roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 3vw;
  color: #fff;
  margin-bottom: 3vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// section {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
