/* Viewports */
$tablet-width: 630px;
$desktop-width: 860px;

/* Fonts */
$roboto: "Roboto", "Arial", sans-serif;

/* Colors */
$light-white: rgba(255, 255, 255, 0.75);
$white: #FFFFFF;
$blue: #A8D4E9;
$grey: #DADADA;;
$black: #000000;
